body{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:1050px;
    background: #7b917b;
    background: -moz-radial-gradient(center, ellipse cover, #7b917b, #ffcfcf);
    background: -webkit-linear-gradient(top, #7b917b, #ffcfcf);
    font-family:Arial,sans-serif;
    }
#keyboard{
    clear:both;
    }
#keyboard tr td{
    padding:4px 8px;
    vertical-align:top
    }
#testarea{
    border: none;
    outline: none;
}
.key_row div{
    float:left
    }
.key_block{
    border-collapse:separate;
    border-spacing:8px;margin:0;padding:0;
    }
.key_block tr td,.key_row div{
    padding:4px 8px;
    margin:4px;
    border-width:2px;
    border-style:solid;
    font-family:monospace;
    }
.key_block td.blank{
    border-color:transparent;
    }
.key_small{
    font-size:10px;
    }
.key_row{
    clear:both;
    }
.key_un{
    border-color:#46394b;
    border-radius: 10px;
    }
.key_highlight{
    border-color:orange;
    border-radius: 10px;
    }
.key_pressed{
border-color:green;
border-radius: 10px;
    }
.key_pressed_m{
    border-color:green;
    border-radius: 10px;
    }
.myButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}
.myButton2 {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton2:hover {
    background-color:#5cbf2a;
}
.myButton2:active {
    position:relative;
    top:1px;
} 
#hidden_text{
    width:1px;
    height:1px;
    border:0;
    }
#key32{
    width:100px;
    text-align:center;
    }
.key_un{

}
.key_name{
    font-family:monospace;
    }
.label{
    float:left;
    padding-right:20px;
    font-style:italic;
    }
#notes{
    float:left;
    margin:0 0 32px 20px;
    padding:0;
    }
.pcliqGo img{
    padding:2px;
    border:2px solid gray;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px
    }
.pcliqGo:hover img{
    border-color:blue;
}