html, body {
	height: 100%;
	background: #7b917b;
    background: -moz-radial-gradient(center, ellipse cover, #7b917b, #ffcfcf);
    background: -webkit-linear-gradient(top, #7b917b, #ffcfcf);
}
body {
	margin: 0 auto;
	text-align: center;
}
.key_block {
	height: 50px;
	width: 50px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 5px;
	line-height:50px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	background: -moz-radial-gradient(center, ellipse cover, #7b917b, #ffcfcf);
    background: -webkit-linear-gradient(top, #7b917b, #ffcfcf);
	display: inline-block;
}
.inform_block {
	width: 440px;
	font-size: 14px;
}
#output {
	color: white;
	font-size: 72px;
	font-family: sans-serif;
}
#slider {
	position: absolute;
	height: 8px;
	top: calc(100% - 8px);
	left: 0;
	background-color: white;
	width: 100%;
}